# Data Science Tools and Ecosystem

Introduction: In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular tools for Data Science
* List common libraries used in Data Science
* Demonstrate ability to use markdown language in a Jupyter notebook
* Demonstrate ability to write simple arithmetic expressions in a Jupyter notebook
* Demonstrate ability to create basic formatting of text in markdown language, such as numbered lists, bullets, and tables.

Some of the popular languages that Data Scientists use are:

1.   Python
2.   R
3.   MATLAB

Some of the commonly used libraries used by Data Scientists include:


1.   Pandas
2.   NumPy
3.   Matplotlib
4.   SciPy



```
# This is formatted as code
```
|Data Science Tools|
|----|
|Apache Spark|
|Tensor Flow|
|Weka|

Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Brian Pidduck